*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background-color: #d1d9d9;
    --color1: #94d0cc;
    --color2: #eec4c4;
    --color3: #f29191;
}

body {
    background-color: var(--background-color);
    color: var(--color3);
    font-family: 'Goblin One', cursive;
}

h1 {
    text-align: center;
    margin-top: 3vh;
    font-size: 2rem;
}

.starting {
    width: min(90vw, 500px);
    margin: 5vh auto;
}

.selection {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 2vh auto 4vh;
}

.choice, .symbols {
    border: 1px solid var(--color1);
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    font-size: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.clicked {
    background: var(--color1);
}

.error {
    margin-top: 2vh;
    font-weight: bold;
    color: red;
}

p, label {
    font-size: 0.75rem;
    display: block;
}

#name {
    display: block;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    margin: 2vh auto 4vh;
    border-bottom: 1px solid var(--color1);
    font: 1rem 1/4;
    color: var(--color3);
}

.gameboard {
    display: none;
    width: min(80vmin, 400px);
    height: min(80vmin, 400px);
    margin: 3vh auto;
    background-color: var(--color1);
}

.gameboard div {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    background-color: var(--background-color);
    color: var(--color3);
}

.playing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.125rem;
    cursor: pointer;
}

.game-info {
    border-radius: 1rem;
    margin: 0 auto;
    text-align: center;
}

.btn {
    margin-top: 2vh;
    font-size: 1rem;
    background-color: var(--color1);
    padding: 0.5em 1em;
    border: none;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
}